.navi{
	width: 1400px; 
	height:90px;
	margin:0 auto;
}

/* .header_menu{
    margin-left: 420px;
} */

.header_menu {
    display: flex;
    justify-content: space-around;
	height: 90px;    
}
.header_submenu ul {
    display: flex;
    justify-content: space-around;
    height: 35px;
}

.header_menu li, .header_submenu ul li  {
    list-style-type: none;
    display: inline-block;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
}
.header_menu>li>div>a>img{width:200px;height:70px;}
.header_menu li a, .header_submenu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'aritaSB';
    font-weight: bold;
}

.header_menu li a:hover{
    color: #c79d6a;
}

.header_submenu {
    width: 100%;
    height: 35px;
    display: none;
    z-index: 999;
    min-width:100%;
    margin:0 auto;
    background-color:#eaeaea;
    font-weight:normal;
}

.header_submenu ul li {
    font-size: 15px;
    margin-right: 0px;
}

.header_submenu ul li a {
    color: black;
}

.header_submenu1{
    width: 400px; 
    margin-left: 450px; 
}

.header_submenu2{
    width: 350px; 
    margin-left: 670px;
}

.header_submenu3{
    width: 450px; 
    margin-left: 780px; 
}

.header_submenu4{
    width: 300px; 
    margin-left: 1050px;
}

.header_submenu5{
    width: 470px; 
    margin-left: 1000px; 
}

.header_submenu ul li a:hover{
    font-weight: bold;
    color:brown;
}

.tnb {
	width: 100%;
    padding-top: 10px; 
    height: 25px;
    text-align: right;
    background-color: #c79d6a;
    min-width:100%; 
    /* border:1px solid black; */
    /* margin:0 auto; */
}

.tnb_menu{
	width:1400px;
	margin-right:50px;
}

.tnb_menu span{
	color: white;
    font-size: 15px;
    margin-left: 15px;
}

.tnb_menu span a {
	color: white;
}