<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.mapper.review.ReviewBoardMapper">
	
	<!-- 본문 -->
	<select id="reviewContent" resultType="com.library.model.review.ReviewBoardDTO">
		select * from review where book_isbn = #{book_isbn}
	</select>


<!-- 등록 / 수정 / 삭제 -->	
	<!-- 게시물 등록 -->
	<insert id="reviewBoardInsert">
		insert into review(review_content, book_isbn, writer_id)
		values(#{review_content},#{book_isbn}, #{writer_id})
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="reviewBoardUpdate">
		update review 
		   set review_content = #{review_content}
		 where review_no = #{review_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="reviewBoardDelete">
		delete from review where review_no = #{review_no}
	</delete>
	
	<select id="id_duplicate" resultType="String">
		select writer_id from review where review_no = #{review_no}
	</select>
	
	
<!-- 게시판(페이징) / 총 게시물 / 게시판 정렬 -->
<resultMap type="com.library.model.review.ReviewBoardDTO" id="reviewBoardMap">
	<!-- 기본키 -->
	<id property="review_no" column="review_no"/>
	<result property="review_no" column="review_no"/>
	<result property="review_content" column="review_content"/>
	<result property="writer_id" column="writer_id"/>
	<result property="book_isbn" column="book_isbn"/>
	<result property="review_reg_date" column="review_reg_date"/>
	
<!-- 	<collection property="reviewanswerList" resultMap="reviewanswerList" /> -->

</resultMap>

<!-- <resultMap type="com.library.model.review.ReviewAnswerBoardMapperDTO" id="reviewanswerList">
	기본키
	<id property="reviewanswer_no" column="reviewanswer_no"/>
	<result property="reviewanswer_no" column="reviewanswer_no"/>
	<result property="review_no" column="review_no"/>
	<result property="reviewanswer_content" column="reviewanswer_content"/>
	<result property="a_writer_id" column="a_writer_id"/>
	<result property="reviewanswer_reg_date" column="reviewanswer_reg_date"/>

</resultMap> -->

	<!-- 게시판 전체 조회 -->
	<!-- <select id="getListPage" resultMap="reviewBoardMap">
		select *
		  from review where book_isbn = #{book_isbn}
	</select> -->
	<!-- 게시판 전체 조회 -->
	<select id="getListPage" resultMap="reviewBoardMap">
		select *
		  from review 
		where book_isbn = #{book_isbn}
		order by review_no desc 
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from review <include refid="criteria"></include>
	</select>	
	
	<select id="reset" statementType="CALLABLE">
		call review_reset()
	</select>	
	
	<!-- 관리자 계정 확인 -->
	<select id="check_admin" resultType="int">
		select count(*) as count
		  from member_auth 
		 where user_id = #{user_id} and auth = 'ROLE_ADMIN'
	</select>
	
	
	<sql id="criteria">
		<if test="type != null">
			<if test="keyword != null">
			
				<if test="type == 'TC'">
					where review_content like concat('%', #{keyword}, '%')
				</if>
                 
				<if test="AZ == 'content'">
					where review_content like concat('%', #{keyword}, '%')
				</if>
                 
			</if>
		</if>
	</sql>
	



</mapper>