<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.library.mapper.mylib.MyPageMapper">
		
		<!-- 회원 정보 출력 -->
		<select id="my_view" resultType="com.library.model.member.MemberDTO">
			select * from member where user_id = #{user_id}
		</select>
 		
 		<!-- 회원 정보 수정 -->
 		<update id="my_modify">
 			update member
 			   set user_name = #{user_name}, user_tel = #{user_tel}, user_birth = #{user_birth}, user_zip = #{user_zip},
 			   			  user_address = #{user_address}, user_address_detail = #{user_address_detail}
 			  where user_id = #{user_id}
 		</update>
 		
 		<!-- 회원 탈퇴 -->
 		<delete id="my_secession">
 			delete
 			  from member
 			 where user_id = #{user_id}
 		</delete>
 		
 		<!-- 탈퇴 회원 테이블 삭제 -->
 		<delete id="delete_buyhistory">
 			delete from buy_history
 		</delete>
 		<delete id="delete_cart">
 			delete from cart
 		</delete>
 		<delete id="delete_likehistory">
 			delete from like_history
 		</delete>
 		<delete id="delete_loanhistory">
 			delete from loan_history
 		</delete>
 		<delete id="delete_review">
 			delete from review
 		</delete>
 		
 		<delete id="delete_hope">
 			delete from hope
 		</delete>
 		<delete id="delete_recommend_book">
 			delete from recommend_book
 		</delete>
 		<delete id="delete_notice">
 			delete from notice
 		</delete>
 		<delete id="delete_answer">
 			delete from answer
 		</delete>
 		<delete id="delete_enquiry">
 			delete from enquiry
 		</delete>
 		
 		<!-- 탈퇴회원 테이블에 입력 -->
 		<insert id="insert_secession">
 			insert into secession_member values(#{user_id}, #{user_email});
 		</insert>
 		
 		<!-- 비밀번호 변경 -->
 		<update id="modify_pw">
 			update member
 			   set user_pw = #{user_pw}
 			 where user_id = #{user_id}
 		</update>
 		
	</mapper>