<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.mapper.review.ReviewAnswerBoardMapper">
	
	<!-- 본문 -->
 	<select id="reviewanswerContent" resultType="com.library.model.review.ReviewAnswerBoardMapperDTO">
		select a.*, e.writer_id from reviewanswer a join review e on e.review_no = a.review_no where reviewanswer_no = #{reviewanswer_no}
	</select> 
	
	<!-- 조회수 -->
 	<update id="updateView">
		update reviewanswer 
		   set reviewanswer_hits = (reviewanswer_hits + 1) 
		where reviewanswer_no  = #{reviewanswer_no}
	</update>


<!-- 등록 / 수정 / 삭제 -->	
	<!-- 게시물 등록 -->
	<insert id="reviewanswerBoardInsert">
		insert into reviewanswer(review_no, reviewanswer_content, a_writer_id, a_writer_name)
		values(#{review_no}, #{reviewanswer_content}, #{a_writer_id}, #{a_writer_name})
	</insert>
	
	<!-- 게시글 수정 -->
 	<update id="reviewanswerBoardUpdate">
		update reviewanswer 
		   set reviewanswer_content = #{reviewanswer_content}
		 where reviewanswer_no = #{reviewanswer_no}
	</update>
	
	<!-- 게시글 삭제 -->
 	<delete id="reviewanswerBoardDelete">
		delete from reviewanswer where reviewanswer_no = #{reviewanswer_no}
	</delete> 
	


</mapper>